<!DOCTYPE html>
<html>
  <head>
    <title>My Fucking Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 500px;
        width: 600px;
        margin: 0px;
        padding: 0px
      }

    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
var map;
var circle;
var marker;
var iFrequency = 1000; // expressed in miliseconds
var myInterval = 0;
var boundContains = false;


var directionsDisplay;
var directionsService = new google.maps.DirectionsService();

function initialize() {
  directionsDisplay = new google.maps.DirectionsRenderer();
  var loc = new google.maps.LatLng(40.48,-74.42);
  var mapOptions = {
    zoom: 14,
    center: loc,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);


  map.setCenter(loc);

  var circleOptions = {
      strokeColor: '#FF0000',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#FF0000',
      fillOpacity: 0.35,
      map: map,
      center: loc,
      radius: 20
  };

  circle = new google.maps.Circle(circleOptions);
  directionsDisplay.setMap(map);
  calcRoute();
  startLoop();
}

function calcRoute() 
{
  var start = new google.maps.LatLng(40.484955,-74.436300);
  var end = new google.maps.LatLng(40.486285,-74.438864);
  var request = {
      origin:start,
      destination:end,
      travelMode: google.maps.DirectionsTravelMode.DRIVING
  };
  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    }
  });
}
function checkThisLoc(thisLocation)
{
  var start = new google.maps.LatLng(40.484955,-74.436300);
  var end = new google.maps.LatLng(40.486285,-74.438864);
  var request = {
      origin:start,
      destination:end,
      travelMode: google.maps.DirectionsTravelMode.DRIVING
  };
  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      if(response.bounds.contains(thisLocation)
      {
        boundContains = true;
      }
      else
        boundContains = false;
    }
  });  
}


// STARTS and Resets the loop if any
function startLoop() {
    if(myInterval > 0) clearInterval(myInterval);  // stop
    myInterval = setInterval( "doSomething()", iFrequency );  // run
}

function doSomething()
{
    if(navigator.geolocation)
    {
      navigator.geolocation.getCurrentPosition(success, error);
    } 
    else 
    {
      error('Geo Location is not supported');
    }

    function success(position)
    {
      var curLoc = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
      var someRandomTestLoc = new google.maps.LatLng(40.485820,-74.437888);
      circle.setCenter(curLoc);
      checkThisLoc(someRandomTestLoc);
      if(boundContains)
      {
        console.log("yes it contains");
      }
      else
      {
        console.log("no it doesnt");
      }

    }
    function error()
    {
      console.log("heers my error when geo doesnt work, bitch");
    }
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>